@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/*general*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --bleu: #97d6f3;
  --vert: #93c11f;
  --marron: #402b00;
  --white: #fff;
  --black: #000;
  --grey: #ededed;
  --darkgrey: #8b8b8b;
  --turquoise: #40e0d0;
}

li {
  list-style-type: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

/*general*/

/*navbar*/

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 60px;
  background-color: var(--bleu);
}

.logo img {
  width: 80px;
  padding: 10px;
}

.navbar-links {
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.navbar-links a:hover {
  color: var(--white);
}

.social-media {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.social-media li i {
  font-size: 18px;
  color: var(--black);
  cursor: pointer;
}

.social-media li i:hover {
  color: var(--white);
}

.search {
  background-color: var(--white);
  padding: 12px 25px;
  border-radius: 20px;
}

.search i {
  cursor: pointer;
}

.search input {
  outline: none;
  border: none;
  background-color: var(--white);
}

/*navbar*/

/*acceuil*/
.image-accueil img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 50% 20% / 10% 40%;
}

.titre-accueil {
  font-family: "Baskervville SC", serif;
  text-align: center;
  color: var(--marron);
}

.sous-titre-accueil {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: var(--vert);
}

.texte-accueil {
  text-align: center;
  margin: 50px;
}

.texte-de-presentation p {
    margin: 25px;
  }
/*acceuil*/

/*article*/

.titre-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: auto 80px;
  text-align: center;
}

.titre-article p {
  padding-top: 15px;
}

.article-container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 0;
}

.article {
  width: 400px;
}

.image-article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.lieu {
  margin: 15px 0;
}

.lieu p {
  margin: 15px 0;
}

.add-com {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.add-com label {
  margin-bottom: 10px;
}

.add-com textarea {
  resize: none;
  outline: none;
  border: none;
  background-color: var(--grey);
  padding: 18px;
  border-radius: 15px;
}

.date p {
  color: var(--darkgrey);
}

/*article*/

/*galerie*/

.titre-galerie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: auto 80px;
  text-align: center;
}

.titre-galerie p {
  padding-top: 15px;
}

.galerie-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
  flex-wrap: wrap;
  gap: 35px;
  padding: 50px 0;
}

.photo-container {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  transform: scale(1);
  transition: transform 200ms ease;
}

.photo-container:hover {
  filter: brightness(90%);
  transform: scale(1.02);
}

.indonesie {
  background-image: url(../images/image1.png);
}

.thailand {
  background-image: url(../images/image2.png);
}

.capvert {
  background-image: url(../images/image3.png);
}

.algerie {
  background-image: url(../images/image4.png);
}

.egypte {
  background-image: url(../images/image5.png);
}

.bretagne {
  background-image: url(../images/image6.png);
}

.maldive {
  background-image: url(../images/maldive.webp);
}

.coree {
  background-image: url(../images/coree.jpg);
}

.usa {
  background-image: url(../images/usa.jpg);
}

.padding-text {
  padding-top: 47px;
}

.text_photos {
  border: #ffffffb5 ridge;
  width: 300px;
  height: 300px;
  color: var(--black);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.text_photos p {
  background-color: #ffffffb5;
  padding: 10px 25px;
}

/*galerie*/

/*footer*/

.logo img {
  width: 80px;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 60px;
  background-color: var(--bleu);
  color: var(--marron);
  padding: 15px 0;
}

.footer-container a:hover {
  color: var(--white);
}

.social-media {
  display: flex;
  cursor: pointer;
  gap: 40px;
  margin: 0;
  padding: 0;
  color: var(--white);
}

.social-media li i {
  font-size: 18px;
}

.social-media li i:hover {
  color: var(--white);
}

/*footer*/
